<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lista de Alunos</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
	</head>
	<body>
		<div class="container">
			<div class="row mt-5">
				<div class="col-12">
					<h1 class="mb-4 text-center">Lista de Alunos</h1>

					<div class="mb-3">
						<a href="/alunos/novo" class="btn btn-success">
							<i class="bi bi-plus-circle me-2"></i>Novo Aluno
						</a>
					</div>
					<div class="table-responsive">
						<% if (alunos != '') { %>
							<table class="table table-striped table-hover">
								<thead class="table-dark">
									<tr>
										<th>ID</th>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Curso</th> 
										<th>Status</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody class="boxtable">
									<% alunos.forEach((row, index) => { %>
										<tr>
											<td><%= row.id_aluno %></td>
											<td><%= row.nome_aluno %></td>
											<td><%= row.email_aluno %></td>
											<td><%= row.nome_curso %></td>
											<td>
												<% if (row.estado_matricula == "Ativa") { %>
													<span class="badge bg-success"><%= row.estado_matricula %></span>
												<% } else if (row.estado_matricula == "Cancelada") { %>
													<span class="badge bg-danger"><%= row.estado_matricula %></span>
												<% } else { %>
													<span class="badge bg-warning text-dark"><%= row.estado_matricula %></span>
												<% } %>	

											</td>
											<td>
												<div class="btn-group" role="group">
        											<a href="/alunos/<%= row.id_aluno%>" class="btn btn-sm btn-primary">
														<i class="bi bi-pencil"></i>
													</a>
													<form action="/delete/alunos/<%= row.id_aluno %>?_method=DELETE" method="POST" style="display: inline;">
														<button type="submit" class="btn btn-sm btn-danger" id="del-btn" data-doc="<%= row.id_aluno %>"
															onclick="return confirm(`Tem certeza que deseja excluir o(a) aluno(a) '<%= row.nome_aluno %>'?`)">
															<i class="bi bi-trash"></i>
														</button>
													</form>
												</div>
											</td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						<% } else { %>
							<h1 class="mb-4 text-center">Nenhum aluno encontrado na base de dados!</h1>
						<% } %>
					</div>
					<div class="text-center mt-3">
						<a href="/" class="btn btn-secondary">
							<i class="bi bi-arrow-left me-2"></i>Voltar
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- <script>
			const register = document.getElementById('del-btn');
			register.addEventListener('click', (event) =>{
				const endpoint = `/alunos/${register.dataset.doc}`;
				fetch(endpoint, {
					method: 'DELETE'
				})
				.then(()=>{})
				.catch(err => console.log(err));
			});
		</script> -->
		<script src="/teste.js" ></script> <!-- note que o 'public' é o root -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
		/>
	</body>
</html>
</script>